.recipes-container{
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #80c8bd;

    .header{
        color:white;
        font-size: 30px;
        padding-top: 80px;
        margin: auto;
        text-align: center;
    }

    .items-container{
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-top: 50px;
        margin-right: 30px;
    }
    .recipe-list{
       display: block;
       width: 40%;
       height: auto;
       padding-bottom: 100px;
    }

    .right-container{
        width: 40%;
        .recipe-list{
            width: 100%;
        }

        button{
            height: 40px;
            display: block;
            width: 60%;
            margin: auto;
            border-radius: 5px;
            background-color: #c38d9d;
            outline: none;
        }
        button:hover{
            background-color: #e0698d;
        }
    }
}