<div class="recipes-container">
  <div class="header">Générateur de livre de recettes</div>
  <div class="items-container">
    <app-recipe-list [recipes]="recipes" [listColor]="'#3fb3a1'" [title]="'RECETTES DISPONIBLES'" [actionText]="'Ajouter +'"
      (selectedRecipe)="addRecipeToBook($event)" class="recipe-list"></app-recipe-list>
      <div class="right-container">
    <app-recipe-list [recipes]="selectedRecipes" [listColor]="'#e8a87c'" [title]="'MES RECETTES'" [actionText]="'Supprimer -'"
      (selectedRecipe)="removeRecipeFromBook($event)"  class="recipe-list"></app-recipe-list>
      <button (click)="downloadBook()">Télécharger mon livre</button>
    </div>
  </div>
</div>