.recipe-list{
    border-radius: 5px;

    .header{
        color: white;
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
    }

    .recipes{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .item{
        color: white;
        margin: 0 50px;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;

        h1, p{
            display: block;
        }

        .add{
            cursor: pointer;
        }
    }
}