<div class="recipe-list" [ngStyle]="{'background-color': listColor}">
  <div class="header">
    {{title}}
  </div>
  <div class="recipes">
    <div class="item" *ngFor="let recipe of recipes">
      <p>{{recipe.libelle}} </p>
      <p class="add" (click)="recipeClicked(recipe)">{{actionText}}</p>
    </div>
  </div>
</div>